<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>Farms</title>
    <div th:replace="fragments/header :: header-css"/>
</head>
<body>
<div th:replace="/fragments/header :: headerFragment">
</div>
<form action="/farms">
    <input type="text" name="searchText" th:value="${searchText}">
    <button value="search">search</button>
</form>
<table border="1">
    <tr>
        <th>ID</th>
        <th>Name</th>
    </tr>
    <tr th:each="f : ${farms}">
        <td th:text="${f.id}">ID</td>
        <td th:text="${f.name}">Name</td>
        <td><a th:href="@{/farms/{id}(id=${f.id})}">Edit Farm</a></td>
    </tr>
</table>
<div id="container"></div>
<hr>
<form action="/addFarm" method="post">
    <input name="farmName" placeholder="Farm name"><br>
    <button>Add farm</button>
</form>
<div th:replace="fragments/footer :: footer"></div>
<footer>
</footer>
</body>
</html>