<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>Edit Farm</title>
    <div th:replace="fragments/header :: header-css"/>
</head>
<body>
<div th:replace="/fragments/header :: headerFragment">
</div>
<div>Spiders</div>
<table border="1">
    <tr>
        <th>ID</th>
        <th>Status</th>
        <th>Name</th>
        <th>Genus</th>
        <th>Species</th>
        <th>Acquisition Date</th>
        <th>Sex</th>
        <th>Temperament</th>
        <th>Venom potency</th>
        <th>Type</th>
        <th>Last fed</th>
        <th>Last substrate change</th>
        <th>Last rehouse</th>
        <th>Actions</th>
    </tr>
    <tr th:each="s: ${spiderList}">
        <td th:text="${s.id}">ID</td>
        <td th:text="${s.status}">Status</td>
        <td th:text="${s.name}">Name</td>
        <td th:text="${s.infoDTO.genus}">Genus</td>
        <td th:text="${s.infoDTO.species}">Species</td>
        <td th:text="${s.acquisitionDate}">Acquisition Date</td>
        <td th:text="${s.sex}">Sex</td>
        <td th:text="${s.temperament}">Temperament</td>
        <td th:text="${s.venomPotency}">Venom potency</td>
        <td th:text="${s.type}">Type</td>
        <td th:text="${recentFeeding.get(s)}">Last fed</td>
        <td th:text="${recentSubstrateChange.get(s)}">Last rehouse</td>
        <td th:text="${recentRehouse.get(s)}">Last substrate change</td>
        <td>
            <form th:object="${farm}" th:action="@{'/farms/'+${farm.id}+'/spiders/'+${s.id} +'/care'}" method="post">
                <input type=hidden name="careType" value="FEEDING"/>
                <button class="btn btn-danger btn-block">Feed</button>
            </form>
            <form th:object="${farm}" th:action="@{'/farms/'+${farm.id}+'/spiders/'+${s.id} +'/care'}" method="post">
                <input type=hidden name="careType" value="SUBSTRATE_CHANGE"/>
                <button class="btn btn-primary btn-block">New substrate</button>
            </form>
            <form th:object="${farm}" th:action="@{'/farms/'+${farm.id}+'/spiders/'+${s.id} +'/care'}" method="post">
                <input type=hidden name="careType" value="REHOUSE"/>
                <button class="btn btn-success btn-block">Rehouse</button>
            </form>
        </td>
    </tr>
</table>
<hr>
<form th:action="@{/farms/{id}/addSpider/(id=${farm.id})}" method="get">
    <button class="btn btn-danger">Add Spider</button>
</form>
<div th:replace="fragments/footer :: footer"></div>
</body>
</html>