<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>Spider Details</title>
    <div th:replace="fragments/header :: header-css"/>
    <style>
        .body {
            display: block;
            max-height: 500px;
            width: 280px;
            overflow: auto;
        }

        .head {
            display: block;
            width: 280px;
        }

    </style>
</head>
<body class="text-center">
<div th:replace="/fragments/header :: headerFragment"></div>
<br>
<div style="width: 80%; margin: auto ">
    <div class="row">
        <div class="col">
            <div class="container" style="width: 450px; text-align: left">
                <div th:object="${spider}">
                    <ul class="list-group">
                        <li class="list-group-item list-group-item-primary" th:text="'Name: ' +${spider.name}"></li>
                        <li class="list-group-item list-group-item-primary"
                            th:text="'Species: ' +${spider.infoDTO.genus}+' '+${spider.infoDTO.species}"></li>
                        <li class="list-group-item list-group-item-primary"
                            th:text="'Common name: ' +${spider.infoDTO.getCommonName()}"></li>
                        <li class="list-group-item list-group-item-primary" th:text="'Sex: ' +${spider.sex}"></li>
                        <li class="list-group-item list-group-item-primary" th:text="'Status: ' +${spider.status}"></li>
                        <li class="list-group-item list-group-item-primary"
                            th:text="'Temperament: ' +${spider.temperament}"></li>
                        <li class="list-group-item list-group-item-primary" th:text="'Type: ' +${spider.type}"></li>
                        <li class="list-group-item list-group-item-primary"
                            th:text="'Venom potency: ' +${spider.venomPotency}"></li>
                        <li class="list-group-item list-group-item-primary"
                            th:text="'Prefered temperature: ' +${spider.infoDTO.preferredTemperature}"></li>
                        <li class="list-group-item list-group-item-primary"
                            th:text="'Prefered humidity: ' +${spider.infoDTO.getPreferredHumidity()}"></li>
                        <li class="list-group-item list-group-item-primary"
                            th:text="'Urticating hair: ' +${spider.infoDTO.urticatingHairPresent}"></li>
                        <li class="list-group-item list-group-item-primary"
                            th:text="'Country of origin: ' +${spider.infoDTO.country}"></li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="head">
                <div>Feeding</div>
                <table class="table">
                    <thead>
                    <tr>
                        <th>Date</th>
                        <th>User</th>
                    </tr>
                    </thead>
                </table>
            </div>
            <div class="body">
                <table class="table">
                    <tbody>
                    <tr class="table-danger" th:each="f: ${feedingList}">
                        <td th:text="${f.date}">User</td>
                        <td th:text="${f.userDTO.username}">Date</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="col">
            <div class="head">
                <div>Substrate change</div>
                <table class="table">
                    <thead>
                    <tr>
                        <th>Date</th>
                        <th>User</th>
                    </tr>
                    </thead>
                </table>
            </div>
            <div class="body">
                <table class="table">
                    <tbody>
                    <tr class="table-warning" th:each="sc: ${substrateChangeList}">
                        <td th:text="${sc.date}">User</td>
                        <td th:text="${sc.userDTO.username}">Date</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="col">
            <div class="head">
                <div>Rehouse</div>
                <table class="table">
                    <thead>
                    <tr>
                        <th>Date</th>
                        <th>User</th>
                    </tr>
                    </thead>
                </table>
            </div>
            <div class="body">
                <table class="table">
                    <tbody>
                    <tr class="table-success" th:each="r: ${rehouseList}">
                        <td th:text="${r.date}">User</td>
                        <td th:text="${r.userDTO.username}">Date</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<div th:replace="fragments/footer :: footer"></div>
</body>
</html>